body, html {
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.content-mountain {
  height: 105%;
  width: 2600px;
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image:url('../img/panorama1.jpg');  
  background-size: 100% 100%;
}

.content-map {
  height: 105%;
  width: 2600px;
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image:url('../img/map4.png');
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

.title {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  color: white;  
  position: fixed;
  top: 400px;
  left: 0px;
  width: 600px;
  background-color: #111;
  opacity: 0.9;
  -webkit-box-shadow: 4px 4px 3px 5px #111;
}

.title > h1 {
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 35px;
}

.help-top {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: white;  
  position: fixed;
  top: 200px;
  left: 0px;
  width: 300px;
  background-color: #111;
  opacity: 0.9;
  -webkit-box-shadow: 4px 4px 3px 5px #111;
}

.help-top > h1 {
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.help-bottom {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: white;  
  position: fixed;
  top: 1400px;
  left: 0px;
  width: 300px;
  background-color: #111;
  opacity: 0.9;
  -webkit-box-shadow: 4px 4px 3px 5px #111;
}

.help-bottom > h1 {
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.logo-row {
  position: fixed;
  top: 0px;
  left: 150px;
  background-color: white;
  opacity: 0.9;
  padding: 5px;
}

.logo-row > img {
  opacity: 0.9;
  max-height: 40px;
  max-width: 140px;
  margin-left: 5px;
  margin-right: 5px;

}

.footer { 
  opacity: 0;
}

.link {
  font-family: 'Marcellus SC',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;  
}

.link > a {
  cursor: pointer;
  color: white;
  font-size: 22px;
}

.link > a > span {
  background-color:rgba(230,230,230,0.5);
}

.link > a:hover {
  color: white;
  font-size: 28px;
  text-decoration: none;
}

.link > a:hover > i {
  font-size: 60px;
}

.link > a > i {
  font-size: 50px;
  color: white;
  background-color: none;
}

.dark > a, .dark > a > i {
  color: #444;
}

.dark > a:hover {
  color: #444;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}

.white-popup > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
